services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_api_container
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/user-management
      - JWT_SECRET=your_super_secret_key_here
    depends_on:
      - mongodb

volumes:
  mongo_data:
